.form-sell {
    background-color: #1c1c24;
    width: 800px;
}

.text-form {
    color: #6f6f73;
}
.input-form {
    color: #fff;
    background: transparent;
    border: 1px solid #3d403f;
}

.list-button {
    background-color: #1dc071;
    margin-top: 15px;
}

.title-form {
    background-color: #3a3a43;
    color: #fff;
    margin: 15px 30px 20px 30px;
    padding: 10px;
    border-radius: 5px;
}

input::file-selector-button{
    background-color: #1dc071;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}